<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<!--<ion-row>
  <ion-col>
    <div style="background-color: whitesmoke; border-radius: 20px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);">
      <img style="border-radius: 20px; margin-top: 15px;" src="../../assets/forgot_password.svg">
    </div>
  </ion-col>
</ion-row>-->

<ion-content>
  <!-- var(--ion-color-light); -->
  <div style="background-color: whitesmoke; border-radius: 0 0 20px 20px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);">
    <img style="border-radius: 0 0 20px 20px; margin-top: 35px;" src="../../../../assets/working_out.svg">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-margin-start">Welcome to FitStats!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Enter your email" [(ngModel)]="userCredentials.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="Enter your password" [(ngModel)]="userCredentials.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <a id="forgot-pw-trigger" class="ion-margin-start">Forgot password?</a>
      </ion-col>
    </ion-row>

    <ion-modal trigger="forgot-pw-trigger" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Reset password</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="dismissModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <div style="background-color: whitesmoke; border-radius: 0 0 20px 20px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);">
            <img style="border-radius: 0 0 20px 20px; margin-top: 35px;" src="../../../../assets/forgot_password.svg">
          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input placeholder="Enter your email" [(ngModel)]="resetCredentials.email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="nextStep === false">
              <ion-col class="ion-text-center">
                <ion-button style="width: 100%;" (click)="sendLink()">
                  Send code
                </ion-button>
              </ion-col>
            </ion-row>
            <div *ngIf="nextStep === true">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">Code</ion-label>
                    <ion-input placeholder="Enter you code" [(ngModel)]="resetCredentials.code"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">New password</ion-label>
                    <ion-input placeholder="Enter your password" type="password" [(ngModel)]="resetCredentials.password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">Confirm password</ion-label>
                    <ion-input placeholder="Re-enter your new password" type="password" [(ngModel)]="resetCredentials.cPassword"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button style="width: 100%;" (click)="resetPassword()">
                    Reset password
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="signin()" style="width: 100%;">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>New user? <a id="signup-trigger"><b>Sign up</b></a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-row>
    <ion-col class="ion-text-center">
      <ion-button routerLink="/home" color="success" style="width: 100%;">bypass</ion-button>
    </ion-col>
  </ion-row>-->

  <ion-modal trigger="signup-trigger" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Sign up</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Username</ion-label>
                <ion-input placeholder="Enter your username" [(ngModel)]="tmpUser.username"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input placeholder="Enter your email" [(ngModel)]="tmpUser.email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input placeholder="Enter your password" type="password" [(ngModel)]="tmpUser.password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Confirm Password</ion-label>
                <ion-input placeholder="Re-enter your password" type="password" [(ngModel)]="tmpUser.cPassword"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Gender</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="tmpUser.gender">
                  <div *ngFor="let item of genders">
                    <ion-select-option value="{{ item.gender_type }}">{{ toTitleCase(item.gender_type) }}</ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Country</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="tmpUser.country">
                  <div *ngFor="let item of sortAfterName(countries)">
                    <ion-select-option value="{{ item.country_type }}">{{ toTitleCase(item.country_type) }}</ion-select-option>
                  </div>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Birth Date</ion-label>
                <ion-input placeholder="Enter birth date" id="birthdate-modal" [(ngModel)]="formattedDate"></ion-input>
              </ion-item>

              <ion-modal class="bday-modal" trigger="birthdate-modal">
                <ng-template>
                  <ion-content force-overscroll="false">
                    <ion-datetime locale="en-EN" #datetime presentation="date" [value]="tmpUser.date_of_birth" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true"></ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button style="width: 100%;" (click)="createAcc()">
                Create account
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
