<ion-header>
  <ion-toolbar>
    <ion-title>Bodyweight</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged()" [value]="selectedSegment">
    <ion-segment-button value="week">
      <ion-label>Last 14 days</ion-label>
    </ion-segment-button>
    <ion-segment-button value="year">
      <ion-label>Last 12 months</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title>Statistics</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <canvas #lineCanvas style="height: 200px"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title>Bodyweight last 14 days</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-row class="listing">
              <ion-col size="5">Date</ion-col>
              <ion-col>Weight</ion-col>
              <ion-col class="ion-text-end">Actions</ion-col>
            </ion-row>

            <div *ngFor="let item of weightData.entries">
              <ion-row class="listing">
                <ion-col size="5">{{ formatDate(item.weighted_date) }}</ion-col>
                <ion-col>{{ item.amount }}kg</ion-col>
                <ion-col class="ion-text-end">
                  <ion-icon (click)="presentEditModal(item)" name="pencil"></ion-icon>
                  <ion-icon (click)="deleteEntry(item)" color="danger" name="trash"></ion-icon>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="weight-trigger" color="primary">
      <ion-icon name="scale"></ion-icon>
    </ion-fab-button>

    <ion-modal trigger="weight-trigger" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add weight</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="dismissModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Bodyweight</ion-label>
                  <ion-input inputmode="decimal" placeholder="Enter your body weight" [(ngModel)]="tmpWeight.weight"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Weighted at</ion-label>
                  <ion-input placeholder="Enter weighted at date" id="weighted-at-modal" [(ngModel)]="formattedDateWeighted"></ion-input>
                </ion-item>

                <ion-modal class="bday-modal" trigger="weighted-at-modal">
                  <ng-template>
                    <ion-content force-overscroll="false">
                      <ion-datetime locale="en-EN" #datetime presentation="date" [value]="tmpWeight.weighted_at" (ionChange)="dateChangedWeighted(datetime.value)" showDefaultButtons="true"></ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button color="primary" (click)="addWeight()" style="width: 100%;">
                  Create
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-fab>
</ion-content>
