<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="start">
      <ion-button id="trigger-button">
        <ion-icon size="large" color="dark" name="person"></ion-icon>
      </ion-button>
      <ion-modal trigger="trigger-button" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Settings</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="dismissModal()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content forceOverscroll="false">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card id="update-credentials" class="ion-no-margin ion-activatable ripple-parent" style="height: 100%;">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-grid>
                      <ion-row>
                        <ion-card-header>
                          <ion-card-title><h5 class="ion-no-margin">Update credentials</h5></ion-card-title>
                        </ion-card-header>
                      </ion-row>
                    </ion-grid>
                  </ion-card>

                  <ion-modal trigger="update-credentials" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
                    <ng-template>
                      <ion-header>
                        <ion-toolbar>
                          <ion-title>Update credentials</ion-title>
                          <ion-buttons slot="end">
                            <ion-button (click)="dismissModal()">Close</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                      </ion-header>

                      <ion-content>
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-item>
                                <ion-label position="stacked">Username</ion-label>
                                <ion-input placeholder="Enter your username" [(ngModel)]="userData.username"></ion-input>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item>
                                <ion-label position="stacked">Email</ion-label>
                                <ion-input placeholder="Enter your email" [(ngModel)]="userData.email"></ion-input>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item>
                                <ion-label position="stacked">Gender</ion-label>
                                <ion-select placeholder="Select One" [(ngModel)]="userData.gender">
                                  <div *ngFor="let item of genders">
                                    <ion-select-option value="{{ item.gender_type }}">{{ toTitleCase(item.gender_type) }}</ion-select-option>
                                  </div>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item>
                                <ion-label position="stacked">Country</ion-label>
                                <ion-select placeholder="Select One" [(ngModel)]="userData.country">
                                  <div *ngFor="let item of sortAfterName(countries)">
                                    <ion-select-option value="{{ item.country_type }}">{{ toTitleCase(item.country_type) }}</ion-select-option>
                                  </div>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item>
                                <ion-label position="stacked">Birth Date</ion-label>
                                <ion-input placeholder="Enter birth date" id="update-birthdate-modal" [(ngModel)]="formattedDate"></ion-input>
                              </ion-item>

                              <ion-modal class="bday-modal" trigger="update-birthdate-modal">
                                <ng-template>
                                  <ion-content force-overscroll="false">
                                    <ion-datetime locale="en-EN" #datetime presentation="date" [value]="userData.date_of_birth" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true"></ion-datetime>
                                  </ion-content>
                                </ng-template>
                              </ion-modal>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col class="ion-text-center">
                              <ion-button style="width: 90%;">
                                Save changes
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card class="ion-no-margin ion-activatable ripple-parent" style="height: 100%;">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-card-header>
                      <ion-card-title><h5 class="ion-no-margin">Change password</h5></ion-card-title>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card class="ion-no-margin ion-activatable ripple-parent" style="height: 100%;">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-card-header>
                      <ion-card-title><h5 class="ion-no-margin">Delete account</h5></ion-card-title>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button (click)="logout()" style="width: 100%;" color="danger">Logout</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" color="dark" name="contrast-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-progress-bar value="0.3"></ion-progress-bar> <!--type="indeterminate"-->
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>{{ getGreeting() }}, {{ this.userData.username }}!</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin ion-activatable ripple-parent">
          <ion-ripple-effect></ion-ripple-effect>

          <ion-card-subtitle>
            <ion-item>
              <ion-label>Exercise type</ion-label>
              <ion-select placeholder="None">
                <div *ngFor="let item of sortAfterName(exerciseTypes)">
                  <ion-select-option value="{{ item.exercise_type_id }}">{{ item.exercise_type }}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </ion-card-subtitle>

          <ion-card-content routerLink="/exercise-detail">
            <canvas #lineCanvas style="height:200px"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin ion-activatable ripple-parent" style="height: 100%;" routerLink="/friends">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-card-title>Friends</ion-card-title>
            <ion-text>current friends: 11</ion-text>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            <ion-badge style="width: 90%;" color="warning">1 new friend request</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="5">
        <ion-card class="ion-no-margin ion-activatable ripple-parent" style="height: 100%;" routerLink="/weight-detail">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Weight</ion-card-title>
            <!--<ion-text>current aim: hold</ion-text>-->
          </ion-card-header>

          <ion-card-content>
            <ion-text color="danger" class="ion-text-center">
              <h1><ion-icon name="arrow-up"></ion-icon> 1.5kg</h1>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin ion-activatable ripple-parent" routerLink="/leaderboard">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-card-title>Leaderboard (Top 3)</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-row *ngFor="let item of friends.slice(0, 3); index as rank" class="rankings">
              <ion-col size="2">
                <b># {{ rank+1 }}</b>
              </ion-col>
              <ion-col>
                <span>{{ item.username }}</span>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <span>{{ item.units }} units</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="add()">
        <ion-icon name="barbell"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="scale"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
